<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" >
<!-- Optional theme -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css" >
    </head>
    <body>
        <div class="container"> 
           <div class="jumbotron">
                Here is the index.html
           </div> 
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js" ></script>
        <script src="/js/jquery.min.js"></script>
    </body>
</html>