
<html>
    <body>
        <h1>
            Welcome to our <%=title%>
        </h1>

        <ul>
            <%for(let i=0; i<list.length; i++) {%>
                <li>
                    <%=list[i]%>
                </li>
            <%}%>

        </ul>

    </body>
</html>